.yui3-spriteeditor-grid-cell {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  border-color: green;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-style: solid;

  position: absolute;
}

.yui3-spriteeditor-grid-cell-right {
  border-right-width: 1px;
  border-right-style: solid;
}
.yui3-spriteeditor-grid-cell-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
